// custom variable values
// $primary: #c29938;
// $light: #fbf5e5;
$primary: #dc3545;
$navbar-nav-link-padding-x: 1rem;
$accordion-active-color: #7b1a1a;
$accordion-button-active-color: #2a2a2a;
$accordion-button-active-bg: #e2e2e2;
$accordion-button-focus-box-shadow: #7b1a1a;
$link-color: #dc3545;

.nav-item {
  border-bottom: #2a2a2a 1px solid;
}

// $accordion-body-padding-y: 4rem;

// import the functions & variables
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192,
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";
